@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

:root {
  --primary-white: #fff;
  --primary-yellow: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Forum, cursive";
}

/********************** NAVBAR ******************/

.font-color {
  color: white;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  border-top: 0.1875rem solid var(--primary-dark);
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-yellow);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-yellow);
}

/********************** HEADER ******************/

.header-wraper {
  position: relative;
  background: url(wall-and-laptop-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Forum, cursive";
}

.main-info h1 {
  color: var(--primary-yellow);
  text-transform: uppercase;
  
}
